<form action="/create" method="post"><!--Добавляем в routes! метод create-->
    <h2>Страница добавления списков</h2>
    <div class="input-field">
        <input type="text" name="title">
        <label>Добавтье задачу</label>
    </div>
    <button type="submit" class="btn">Сохранить</button>
</form>