<form action="/create-text" method="post"><!--Добавляем в routes! метод create-->
    <h2>Страница добавления новостей</h2>
    <div class="input-field">
        <input id="last_name" type="text" class="validate" name="title">
        <label for="last_name">Добавить заголовок</label>
    </div>
    <div class="input-field">
        <textarea id="textarea1" class="materialize-textarea" name="description"></textarea>
        <label for="textarea1">Добавтье описание</label>
    </div>
    <div class="input-field">
        <input type="date" name="date">
        <label for="textarea1">Добавтье дату добавления</label>
    </div>
    <button type="submit" class="btn">Сохранить</button>
</form>

